# Use `docker-compose up -d` to start
# services:
#   postgres:
#     # See https://hub.docker.com/_/postgres
#     # Use `docker ps` and `docker logs -f vsm-restaurant-postgres-1` to check status
#     image: postgres:17
#     ports:
#       - "127.0.0.1:5432:5432"
#     volumes:
#       - postgres_data:/var/lib/postgresql/data
#     environment:
#       - POSTGRES_PASSWORD=5FCCBA11-B16E-4C47-BFDF-06051C17226D # random password
#       - POSTGRES_USER=postgres
#       - POSTGRES_DB=vsm_restaurant
#   dummy:
#     # This container can be used to access postgres_data volume even if postgres is not running
#     # `docker exec -ti vsm-restaurant-dummy-1 ash`
#     image: alpine:latest
#     command: sleep infinity
#     volumes:
#       - postgres_data:/data

# volumes:
#   postgres_data:
services:
  postgres:
    image: postgres:17
    ports:
      - "127.0.0.1:5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=5FCCBA11-B16E-4C47-BFDF-06051C17226D
      - POSTGRES_USER=postgres
      - POSTGRES_DB=vsm_restaurant

  dummy:
    image: alpine:latest
    command: sleep infinity
    volumes:
      - postgres_data:/data

  app:
    build: .
    depends_on:
      - postgres
    environment:
      - DB_URL=postgresql+psycopg://postgres:5FCCBA11-B16E-4C47-BFDF-06051C17226D@postgres:5432/vsm_restaurant
    ports:
      - "8000:8000"

  payment-service:
    build:
      context: ./payment_service
    ports:
      - "8001:8001"
    environment:
      - RESTAURANT_API_URL=http://app:8000  # куда слать вебхуки

volumes:
  postgres_data: